<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <title>Project Page</title>
</head>
<body>
<h1>Projects
  <i class="fa fa-circle-o-notch fa-spin" style="font-size:34px" *ngIf="showLoading"></i>
</h1>



<div class="container mt-4">
  <div class="row">
  <div class="col-4">
    <button class="btn btn-primary" data-toggle="modal" data-target="#newModal" (click)="openModal()">Create Project</button>
  </div>

  <div class="col-4">  
  <label for="drpSearchBy" class="col-form-label">Search By:</label>
        <select class="form-control"id="drpSearchBy"name="SearchBy" [(ngModel)]="searchBy">
          <option value="ProjectID">Project ID</option>
          <option value="ProjectName">Project Name</option>
          <option value="DateOfStart">Date of Start</option>
          <option value="TeamSize">Team Size</option>
        </select>
      </div>
  

      <div class="col-4">
      <label for="textSearchText" class="col-form-label col-3">Search:</label>
        <div class="input-group">
          <input type="text" class="form-control" id="txtSearchText" name="SearchText" [(ngModel)]="searchText" />

          <div class="input-group-append" (click)="onSearchClick()">
            <span class="input-group-text"><i class="fa fa-search" style="font-size: 30px;" ></i></span>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12">
  <div class="table-container">
    <table class="custom-table table-condensed">
      <thead>
        <tr style="height: 1rem; margin-bottom: 0.2rem;">
          <th>ProjectID</th>
          <th>Project Name</th>
          <th>Date of Start</th>
          <th>Team Size</th>
          <th>Client Location</th>
          <th>Status</th>
          <th>Actions</th>

        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let project of projects  let i = index"  [ngClass]="{ 'text-muted': !project.active}"  class="table-row">
          <td >{{ project.projectID }}</td>
          <td>{{ project.projectName }}</td>
          <td>{{ project.dateOfStart }}</td>
          <td>{{ project.teamSize }}</td>
          <td>{{project.clientLocation.clientLocationName}}</td>
          <td>{{project.status}}</td>
          <td>
            <button class="btn btn-info" data-toggle="modal" data-target="#editModal" (click)="onEditClick($event, i)">Edit</button>
            <span class="button-space"></span>
            <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" (click)="onDeleteClick($event, i)">Delete</button>
          </td>
          
        </tr>
      </tbody>
    </table>
  </div>
</div>




<form>
  <div class="modal" role="dialog" id="newModal">
    <div class="modal-dialog">
      <div class="modal-content" style="width:700px">
        <div class="modal-header">
          <div class="modal-title">New Project</div>
        </div>
        <div class="modal-body">

          <div class="form-group row mt-3 mb-3 ">
            <label for="txtNewProjectID" class="col-sm-4 col-form-label">Project ID</label>
            <div class="col-sm-8">
              <input type="text" id="txtNewProjectID" style="width:100px" class="form-control-plain-text" placeholder="Project ID" name="ProjectID" [(ngModel)]="newProject.projectID">

            </div>
          </div>

          <div class="form-group row mt-3 mb-3">
            <label for="txtNewProjectName" class="col-sm-4 col-form-label">Project Name</label>
            <div class="col-sm-8">
              <input type="text" id="txtNewProjectName" class="form-control" placeholder="Project Name"
                name="ProjectName" [(ngModel)]="newProject.projectName">
            </div>
          </div>

          <div class="form-group row mt-3 mb-3">
            <label for="txtNewDateOfStart" class="col-sm-4 col-form-label">Date of Start</label>
            <div class="col-sm-8">
              <input type="date" id="txtNewDateOfStart" style="width:150px" class="form-control"
                placeholder="Date of Start" name="DateOfStart" [(ngModel)]="newProject.dateOfStart">
            </div>
          </div>



          <div class="form-group row mt-3 mb-3">
            <label for="txtTeamSize" class="col-sm-4 col-form-label">Team Size</label>
            <div class="col-sm-8">
              <input type="text" id="txtTeamSize" style="width:150px" class="form-control" placeholder="Team Size" name="TeamSize" [(ngModel)]="newProject.teamSize">
            </div>
          </div>


          <div class="form-group row">
            <label for="col-sm-4 col-form-label">&nbsp;</label>
            <div class="col-sm-8">
              <div class="form-check">
                <input type="checkbox" id="chkNewActive" value="true" class="form-check-input" [(ngModel)]="newProject.active" name="active">
                <label class="form-check-label" for="chkNewActive">Active</label>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="rbNewStatusInForce" class="col-sm-4">Status</label>
            <div class="col-sm-8">

              <div class="form-check form-check-inline">
                <input type="radio" id="rbNewStatusInForce" value="In Force" class="form-check-input" name="Status" [(ngModel)]="newProject.status">
                <label for="rbNewStatusInForce" class="form-check-label">In Force</label>
              </div>

              <div class="form-check form-check-inline">
                <input type="radio" id="rbNewStatusSupport" value="Support" class="form-check-input" name="Status" [(ngModel)]="newProject.status">
                <label for="rbNewStatusSupport" class="form-check-label">Support</label>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="drpNewClientLocation" class="col-sm-4 col-form-label">Client Location</label>
            <div class="col-sm-8">
              <select id="drpNewClientLocation" class="form-control" name="ClientLocation" [(ngModel)]="newProject.clientLocationID">
                <option value="Chennai">Chennai</option>
                <option value="Singapore">Singapore</option>
                <option value="USA">USA</option>
                <option value="Canada">Canada</option>
              </select>
          
          </div>
         </div>




        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" data-dismiss="modal" (click)="closeModal()">Cancel</button>
          <button class="btn btn-success" data-dismiss="modal" (click)="onSaveClick()" >Save</button>
        </div>
      </div>
    </div>
  </div>
</form>

<form>
  <div class="modal" role="dialog" id="editModal">
    <div class="modal-dialog">
      <div class="modal-content" style="width:700px">
        <div class="modal-header">
          <div class="modal-title">edit Project</div>
        </div>
        
        <div class="modal-body">
          <div class="form-group row mt-3 mb-3">
            <label for="txtEditNewProjectID" class="col-sm-4 col-form-label">Project ID</label>
            <div class="col-sm-8">
              <input type="text" id="txtNewProjectID" style="width:100px" class="form-control-plain-text" placeholder="Project ID"
                name="ProjectID" [(ngModel)]="editProject.projectID" disabled="=disabled">
            </div>
          </div>
          

          <div class="form-group row mt-3 mb-3">
            <label for="txtEditNewProjectName" class="col-sm-4 col-form-label">Project Name</label>
            <div class="col-sm-8">
              <input type="text" id="txtNewProjectName" class="form-control" placeholder="Project Name"
                name="ProjectName" [(ngModel)]="editProject.projectName">
            </div>
          </div>

          <div class="form-group row mt-3 mb-3">
            <label for="txtEditNewDateOfStart" class="col-sm-4 col-form-label">Date of Start</label>
            <div class="col-sm-8">
              <input type="date" id="txtNewDateOfStart" style="width:150px" class="form-control"
                placeholder="Date of Start" name="DateOfStart" [(ngModel)]="editProject.dateOfStart">
            </div>
          </div>

          <div class="form-group row mt-3 mb-3">
            <label for="txtEditTeamSize" class="col-sm-4 col-form-label">Team Size</label>
            <div class="col-sm-8">
              <input type="number" id="txtTeamSize" style="width:150px" class="form-control" placeholder="Team Size"
                name="TeamSize" [(ngModel)]="editProject.teamSize">
            </div>
          </div>




        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" data-dismiss="modal"  (click)="onEditClose()">Cancel</button>
          <button class="btn btn-success" data-dismiss="modal"  (click)="onUpdateClick()">Update</button>
        </div>
      </div>
    </div>
  </div>
</form>







<!-- Delete Project -->
<form>
  <div class="modal" role="dialog" id="deleteModal">
    <div class="modal-dialog">
      <div class="modal-content" style="width:700px">
        <div class="modal-header">
          <div class="modal-title">Delete Project</div>
        </div>
        <div class="modal-body">

          <div class="text-warning">Are you sure to delete this Project?</div>

          <div class="form-group row">
            <label for="txtDeleteProjectID" class="col-sm-4 col-form-label">Project ID</label>
            <div class="col-sm-8">
              <input type="text" id="txtDeleteProjectID" style="width:100px" class="form-control-plain-text" placeholder="Project ID"
                name="ProjectID" [(ngModel)]="deleteProject.projectID" disabled="disabled">
            </div>
          </div>

          <div class="form-group row">
            <label for="txtDeleteProjectName" class="col-sm-4 col-form-label">Project Name</label>
            <div class="col-sm-8">
              <input type="text" id="txtDeleteProjectName" class="form-control-plain-text" placeholder="Project Name"
                name="ProjectName" [(ngModel)]="deleteProject.projectName" disabled="disabled">
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" data-dismiss="modal" (click)="onDeleteClose()">Cancel</button>
          <button class="btn btn-success" data-dismiss="modal" (click)="onDeleteCongirmClick()">Delete</button>
        </div>
      </div>
    </div>
  </div>
</form>